server:
  port: 8002

spring:
  application:
    name: 'Person-Service'
  jpa:
    datasource:
      url: 'jdbc:h2:mem:testdb'
    h2:
      console:
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: 'http://localhost:8001/service-discovery/eureka'